.about {
  padding: 0px;
  margin: 0;
}
.circle {
  width: 200px;
  height: 200px;
  background: url(../public/peter.jpg) center/cover no-repeat;
  float: left;
  /* shape-outside: none; */
  shape-outside: circle();
  /* border-radius: 2px; */
  margin: 0.7rem 2rem 0.6rem 0;
}
.left-about h1 {
  text-transform: capitalize;
  color: var(--mainGrey);
}
.left-about h1 span {
  color: var(--pry-color);
}
.right-about {
  padding-top: 8rem;
}
.about-img-text p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.7rem;
  /* font-size: 1.2rem; */
}

.progress-div p {
  font-family: roboto-bold;
  font-size: 0.7rem;
  padding: 0 1rem 0 0;
  width: 85px;
  color: var(--mainGrey);
  text-transform: uppercase;
}
.progress-div {
  display: flex;
  align-items: center;
}
/* Progress Bar */
.rect-progress-bar-percent {
  margin: 1em !important;
  font-size: 1rem !important;
}
.inner-rect-bar {
  border-radius: 0 !important;
}
.resume {
  text-decoration: none;
  font-weight: bolder;
  color: var(--pry-color);
  padding-left: 0.4rem;
}
/* End of Progress Bar */
@media (max-width: 600px) {
  .circle {
    width: 150px;
    height: 150px;
    background: url(../public/peter.jpg) center/cover no-repeat;
    float: left;
    shape-outside: circle();
    /* border-radius: 2px; */
    margin: 0.7rem 1rem 0rem 0;
  }
  .right-about {
    padding-top: 5rem;
  }
  .progress-div p {
    font-family: roboto-bold;
    font-size: 0.55rem;
    padding: 0 1rem 0 0;
    width: 85px;
    text-transform: uppercase;
  }
}
