.banner {
  position: relative;
  /* height: 100vh; */
  /* min-height: 600px; */
  padding-top: 0;
}
.banner-item {
  /* padding-top: 15% !important; */
  /* background-color: red; */
}
.main-text-container {
  position: relative;
  top: 70px;
}
.main-text-container h1 {
  font-size: 7rem;
}
.main-img-container {
  position: relative;
  top: 60px;
}
.btn-banner {
  padding: 2rem 0 0 0;
}
.typewriter-flex {
  display: flex;
}
.typewriter-flex span{
  padding: 0 0 0 1rem;
}
@media (min-width: 993px) {
  .main-text-container h1 {
    font-size: 7rem;
  }
}
@media (max-width: 992px) {
  .main-text-container {
    position: relative;
    top: 70px;
  }
  .main-text-container h1 {
    font-size: 4.5rem;
  }
  .main-img-container {
    position: relative;
    top: 60px;
  }
}
@media (max-width: 600px) {
  .main-text-container {
    position: relative;
    top: 10px;
  }
  .main-text-container h1 {
    font-size: 4rem;
  }
  .main-img-container {
    position: relative;
    top: 40px;
    padding-bottom: 2rem;
  }
  .btn-banner-xs {
    padding: 3rem 0 0 0;
  }
}
