.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.741);

  z-index: 995;
  transition: all 0.1s linear;
  visibility: hidden;
  display: block;
}
.transparent-bg {
  transition-delay: 0.001s;
  visibility: visible;
}
.mobile-nav {
  position: fixed;
  /* background:  var(--mainBlack); */
  background: linear-gradient(
    to right,
    rgb(0, 40, 63),
    rgb(29, 28, 28)
  );
  width: 50%;
  height: calc(100% + 60px);
  top: 0px;
  left: 0;
  z-index: 997;
  color: var(--mainBlack);
  /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
  transition: all 0.3s linear;
  transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.mobile-nav-logo img {
  height: 90px;
  padding: 2rem 0 0 2rem;
  margin: 0 0 2rem 0;
}
.show-nav {
  transition: all 0.3s linear;
  transform: translateX(0);
}
.mobile-nav-item {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #8687882f;
  margin: 0.5rem 0;
}
.mobile-nav-item a {
  padding: 0 0 0 2rem;
  color: var(--mainWhite);
  font-family: roboto-bold;
  text-transform: capitalize;
  font-size: 2rem;
  width: 100%;
  display: flex;
}
.mobile-nav-footer {
  color: var(--mainWhite);
  font-family: roboto-bold;
  text-transform: uppercase;
  position: absolute;
  margin: 60px 0 0 0;
  bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
.mobile-nav-footer-text p {
  text-align: center !important;
}
.mobile-nav-footer-text span {
  color: var(--pry-color);
}

/* TABLET */
@media (max-width: 992px) {
}
/* PHONE */
@media (max-width: 600px) {
  .mobile-nav {
    width: 80%;
  }
  .mobile-nav-item a {
    padding: 0 0 0 2rem;
    color: var(--mainWhite);
    font-family: roboto-bold;
    text-transform: capitalize;
    font-size: 1.7rem;
    width: 100%;
    display: flex;
  }
  .mobile-nav-footer {
    font-size: 0.7rem;
  }
}
