.nav-item a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--mainWhite) !important;
  font-size: 1.2rem;
  font-family: roboto-bold;
  /* font-family: roboto-condensed-bold; */
}

.nav-links {
  list-style: none;
}

nav.trans-nav {
  position: fixed;
  background-color: transparent;
  z-index: 10;
  height: 84px;
  /* box-shadow: none; */
}

/* Color Navbar */

nav.nav-color {
  background-color: rgba(14, 13, 13, 0.952);
  position: fixed;
  z-index: 10;
  height: 84px;
}

/* color Navbar End */

nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 0px 0 18px !important;
}

.logo-img {
  /* width: 100%; */
  margin-top: 1.3rem;
  height: 40px !important;
}

.menu-icon-img {
  z-index: 999 !important;
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 84px !important;
    line-height: 84px !important;
  }
}
@media (max-width: 600px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 64px !important;
    line-height: 64px !important;
  }
  .logo-img {
    /* width: 100%; */
    margin-top: 0.8rem;
    height: 40px !important;
  }
}

/* .sidenav {
  background-color: var(--pry-color) !important;
} */
